
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f5; 
  font-family: sans-serif; /* Add a modern font */
  margin: 0; /* Remove default body margins */
  padding: 2rem; /* Add some padding for content */
}
